*{
    margin: 0px;
    padding: 0px;
    outline: 1px dotted darkred;
}

#consulta{
    width: 600px;
    height: 600px;
    margin: 0px auto;
    text-align: center;
}

#resultados{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input, button{
    border-radius: 5px;
    width: 250px;
    height: 30px;
    margin: 10px auto;
    display: inline block;
    font-size: 16px;
}

h1{
    font-size: 60px;
    margin-bottom: 20px;
}

h3{
    font-size: 30px;
}